section{
  margin:10px 300px 10px 300px;
  height:90%;
}

.mypic{
  height: 210px;
  margin:0 570px 0 533px;
}

h1{
  color:#f6d365;
  font-family:"Monteserrat", sans-serif;
  font-size:2rem;
}

section p{
  font-size:1.2rem;
  font-family:"Monteserrat", sans-serif;
  color:#e15249;
}

table, th, td {
  border: 1px solid #AC0F05;
  font-size:1.5rem;
  padding:15px;
  background-color:transparent;
}
table{
  width:100%;
  margin: 40px 0 40px 0;
}
th{
  color:#f6d365;
}
td{
  color:#e15249;
}
